@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

.background {
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(circle at center center, #af0171, #000),
    repeating-radial-gradient(
      circle at center center,
      #af0171,
      #af0171,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
}
