* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

.mission {
  background-color: hsla(0, 100%, 50%, 0);
  background-image: radial-gradient(
      at 80% 100%,
      hsla(321, 97%, 34%, 0.38) 0px,
      transparent 50%
    ),
    radial-gradient(at 87% 7%, hsla(19, 100%, 75%, 0.43) 0px, transparent 50%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
